@import './variables'

.add-todo
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 20px

input[type="text"], input[type="date"], input[type="time"], select
    padding: 10px
    margin-right: 10px
    border: 1px solid $primary-color
    border-radius: 4px
    font-size: 1rem
    background-color: $complementary-color
    color: $accent-color

button
    background-color: $primary-color
    color: #fff
    border: none
    border-radius: $border-radius
    padding: 8px 16px
    cursor: pointer
    
    &:hover
        background-color: $darker-shade
